@section News{
    <link href="@Url.Content("~/Content/news_style.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="news">
        @Html.Raw(ViewBag.HtmlContent)
    </div>
</div>
